#root {
  width: 500px;
  text-align: right;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.button {
  font-size: 1.5rem;
  padding: 0.3em 0.5em;
  background-color: green;
  color: white;
}

.count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  color: snow;
  border-radius: 50%;
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: blanchedalmond;
  text-align: center;
}

.navbar-logo {
  color: green;
  margin-right: 0.5em;
}

.navbar-count {
  background-color: green;
}

.add-form {
  text-align: center;
}

.add-input {
  font-size: 2rem;
  margin-right: 0.2em;
}

.habits {
  padding-left: 0;
  height: 400px;
  overflow-y: auto;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.habit-name {
  width: 50%;
  text-align: left;
  overflow-wrap: break-word;
  white-space: normal;
}

.habit-count {
  background-color: darkseagreen;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.reset-button {
  margin: 0.5em;
}
